@*@model IEnumerable<OnlineSchoolSample3.Models.Student>*@

@model PagedList.IPagedList<OnlineSchoolSample3.Models.Student>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>수강생</h2>

<p>
    @Html.ActionLink("새로운 수강생 추가", "Create")
</p>

@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        이름: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="검색" />
    </p>
}

<table class="table">
    @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th></th>
        </tr>*@

    <tr>
        <th>@Html.ActionLink("이름", "Index", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })</th>
        <th>@Html.ActionLink("수강신청일", "Index", new { sortOrder = ViewBag.DateSort, currentFilter = ViewBag.CurrentFilter })</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.ActionLink("수정", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("자세히", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("삭제", "Delete", new { id = item.StudentID })
            </td>
        </tr>
    }

</table>

<br />
페이지@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))